*{
    margin: 0;
}
body{
    background: #3a4a58; 
    margin:0; 
    padding: 0 0;     
}
.wrapper {
    width: 70%;
    margin: 0 auto;
    max-width:1200px;
    background-color:#3a4a58;
}
#spotlight{
    width: 100%;
    display: flex;
    background: #3a4a58;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
#spotlight header{
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#spotlight header h1{
    font-size: 50px;
    margin-left: 30px;
}
#spotlight header i{
    margin-left:20px;
    font-size: 40px;
}
#spotlight div.container{
}
#spotlight  div.container img{
    display: block;
    width: 100%;
}
#coffee{
    text-align: center;
    margin: 0 auto;
    background: #3a4a58;
    padding-top: 4px;
    padding-bottom:2px;   
}
#coffee .wrapper{
   background: #3a4a58;
}
#coffee section.container{
    background: #fff;
    padding-top:4px;

}
#coffee h2{
    font-size: 25px;
    text-align: center;
    color:#800000;
    align-items: center;    
}
#coffee-details {
    border-collapse: collapse;
    width: 100%; 
    text-align: center;
    padding-bottom: 40px;
}
#coffee-details tr{
    background-color: rgb(255, 255, 255);
}
#coffee-details tr:nth-child(odd){
    background-color: #acacac;
}
#coffee-details tr th{
    color: black;
    font-size: 25px;
    padding-top:10px ;
    padding-bottom:10px;
}
#coffee-details tr td{
    color: gray;
    font-size: 15px;
    padding-top :10px;
    padding-bottom: 10px;
}
#tea{
    text-align: center;
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom:2px;
    background: #3a4a58;   
}
#tea .wrapper{
  background: #3a4a58;
}
#tea section.container{
    background-color: #fff;
    padding-top:4px;
    margin-bottom: -23px;
}
#tea h2{
    font-size: 25px;
    text-align: center;
    color: #800000;
    align-items: center;
    padding-top: 25px;
}
#tea-details{
    border-collapse: collapse;
    width: 100%; 
    text-align: center;
    padding-bottom: 40px;
}
#tea-details tr{
    background-color: rgb(255, 255, 255);
}
#tea-details tr:nth-child(odd){
    background-color: #acacac;
}
#tea-details tr th{
    color: #0000;
    font-size: 25px;
    padding-top:10px ;
    padding-bottom:10px;
}
#tea-details tr td{
    color: gray;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 24px;
}
#special-item{
    text-align: center;
    background: #3a4a58;
    padding-bottom: -50px;   
}
#special-item section.wrapper{   
}
#special-item section.container{
    background: #fff;
     height: 50%;
}
#special-item section.container h2{
    text-align: center;
    color:#800000;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 34px;
}
#special-item section.container ul{
    display: flex;
    justify-content: space-between;    
}
#special-item section.container ul li{
    list-style: none;
}
#special-item section.container ul li div.container{
    width: 90%;
    font-size: 20px;
    background-color: #fff;    
}
#special-item section.container ul li div.container img{
    width: 96%;
}
#about{
    /* padding-top: 6px; */
    background: #3a4a58;
}
#about .wrapper{/* padding: 30px 0; */}
#about section.container{
    background:#fff;
    padding-top: 48px;
    width:100%;
}
#about h2{
    text-align: center;
    color:#800000;
    font-size: 25px;
    margin-bottom: 30px;
    /* margin: 0 auto; */
}
#about p.first{
    font-size: 18px;
    width: 90%;
    color:gray;
    margin-top: 30px;
    margin: 20px auto;
}
#about p.second {
    font-size: 18px;
    width: 90%;
    color:gray;
    margin-top: 30px;
    margin: 0 auto;              
}
#contact{
    background: #3a4a58;
}
#contact .wrapper{
    background:#fff;
    padding: 56px 0;
}
#contact section.container{
    background:#fff;
    /* padding-top:4px; */
}
#contact section.container h2{
    font-size: 25px;
    text-align: center;
    color:#800000;
    align-items: center;    
}
#contact p{
    font-size: 18px;
    color: gray;
    text-align: center;
}
#contact p a{
   
}
#contact ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
#contact ul li{
    margin-left: 20px;
    font-size: 50px;
    padding-top:20px;
    opacity: 0.2;
}
#contact ul li a{    
}
footer{
    background:#3a4a58;
}
footer.wrapper{
   
}
footer section.container{
    padding-top:4px;
}
footer p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color:#3a4a58;
    padding-top: 20px;
    padding-bottom: 20px ;
}
footer p a{
    color:#fff;
}
#footer p a i{

}

